<div class="container-fluid">
<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @category.review %>
</p>

<p>
  <strong>Company:</strong>
  <%= @category.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category), class: "cats btn btn-default btn-sm col-md-2" %> |
<%= link_to 'Back', categories_path, class: "cats btn btn-default btn-sm col-md-2" %>
<%= link_to 'Home', pages_path, class: "page5 btn btn-default btn-sm col-md-2" %>
</div>